@keyframes bounce {
	0% {
		transform: translateY(-20px);
	}
	50% {
		transform: translateY(-35px);
	}
	100% {
		transform: translateY(-20px);
	}
}

.bounce {
    animation: bounce 1500ms ease-in-out 500ms infinite normal none;
}